{% extends "quiz/base.html" %}
{% block content %}
    <h2>Team Players Info</h2>
    <div class="content-section">
        <p>Add in all your team members before beginning so we can get in touch with you!</p>
        <p>Click on `New` to add your team's details.</p>
        <p>Team size: 1-3 vault crackers</p>
    </div>
    {% for player in players %}
        <div class="media-body mb-4 mt-4 d-flex bd-highlight border justify-content-between">
            <div class="p-3 bd-highlight">
                <h4>{{ player.name }}</h4>
                <div> ID : {{ player.institute_id }}</div>
                <div> Contact : {{ player.contact }}</div>
            </div>
        </div>
    {% endfor %}

    {% if players|length < 3%}
        <a href="{% url 'player-create' %}">
            <button class="btn btn-outline-primary">
                + New
            </button>
        </a>
    {% endif%}
    {% if players|length >= 1%}
        <a href="{% url 'home' %}">
            <button class="btn btn-outline-warning">
                Home
            </button>
        </a>
    {% endif%}
{% endblock content %}